/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE: WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

@import url(http://fonts.googleapis.com/css?family=Oswald);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html
{
	width: 100%;
	height: 100%;
	background: #f7f6f6;
	font-family: Verdana, sans-serif;
	font-size: 13px;
}

body
{
	line-height: 20px;
	font-size: 13px;
	color: #3e3e3e;
}

ol, ul {
	list-style: none;
}

p{
	color: #5f5f5f;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder { color:#242B2B; }
::-moz-placeholder { color:#242B2B; } /* firefox 19+ */
:-ms-input-placeholder { color:#242B2B; } /* ie */
input:-moz-placeholder { color:#242B2B; }

h3 { font-size: 1.375em; color: #de9251;  margin: 10px 0 0 0; line-height: 50px; font-weight: 700; font-family: "Oswald", Verdana;}

.content{overflow: hidden;}
.container{ max-width: 960px; margin: auto; overflow: hidden;}

.footer{ background: #aaaaaa; min-height: 90px; border-bottom: 10px solid #ffffff; }
 
.header{height: 100px;width: 100%;border-bottom: 2px solid #de9251; overflow: hidden; background-color: white}
	.header #logo-site{float: left;width: 8%;height: 100%;}
		.header #logo-site img{ padding: 5%; width: auto; height: 90%; margin: 5% 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 8% 20px;}
	.header nav{float: left; width: 92%; height: 100%;}
		.header .navigation-site{height: 100%;overflow: hidden;}
			.header .navigation-site > li{ height: 100%;float: right;display: block; }
				.header .navigation-site > li > a{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 12px;text-transform:uppercase; color: #4f4f4f;float:left; display: block; line-height: 100px; text-align: center; text-decoration: none; }
					.header .navigation-site > li > a > span{padding: 10px;}
					.header .navigation-site > li > a.active > span, .header .navigation-site > li > a > span:hover{border-bottom: 3px solid #de9251;}
					.help-us-link > span{border: none !important;}

/* READ MORE */

.plus{ font-size:1.143em; height: 30px; line-height: 30px; padding: 0 5px 0 25px; font-style: italic; color: #911f77; background: url(../img/link-plus.png) 0 center no-repeat; display: block;}


/*  ACCUEIL  */

/* SLIDER BAN */
.slider-home.accueil{ height: 380px; width: 100%; margin-bottom: 0; }
	.accueil .slick-slide{ background: grey; }
		.accueil .slick-slide img{ width: auto; height: 100%; margin: 0 auto;  }
		.accueil .slick-slide .container-slider-desc{ position: absolute; top: 0; left: 0; height: 100%; width: 30%; background: rgb(0,0,0,0); background: rgba(0,0,0,0.7);  z-index: 2; padding: 75px 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
			.accueil .slick-slide .container-slider-desc h2{ line-height: 25px;font-weight: 700;font-family: "Oswald", Verdana; width: 100%;height: 50px;display: table; font-size: 25px; margin-bottom: 10px;}
				.accueil .slick-slide .container-slider-desc h2 > span{ display: table-cell; color: #de9251; vertical-align: middle; text-transform: uppercase; }
				.accueil .slick-slide .container-slider-desc p{ height: 170px; line-height: 17px; overflow: hidden; text-overflow: ellipsis;font-size: 14px; color: #ffffff; font-family: Verdana; }

/* SLIDER PARTNERS */
.slider-partners-container{ width: 60%; float: left; }
	.slider-partners-container button { background: #911f77; border-radius: 50%; } 
		.slider-partners-container button:before { content: "<"; font-family: Arial; } 
		.slider-partners-container button.slick-next:before { content: ">";} 
	.slider-partners{ width: 90%; margin: 0 auto;}
		.slider-partners section{ width: 100%; padding: 10px 5px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
			.slider-partners .slick-slide img{ width: 100%; height: auto; margin: 0 auto;  }
			.slider-partners .slick-slide p { text-align: center; color: #474747;height: 30px; line-height: 30px; background: #fbe5d3; margin-top: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


/* ASSOS DESC */

.association-desc { float: left; width: 60%; }
	.association-desc footer { overflow: hidden; margin: 5px 0;}
		.association-desc footer span{ float: right; }

/* HELP US */
.help-us-container{ float: right; width: 35%; margin: 20px 0 20px 5%;}
	.help-us-container a{display: block; height: 100%; width: 100%; padding: 0; margin: 0;}
		.help-us-container a img{width: 100%; }

/* OUR VALUES */
.our-values-container{ float: right; width: 35%; margin: 20px 0 20px 5%;}
	.our-values-container > section{ width: 100%; height: 130px; }
		.our-values-container article{ float: left;display: block; height: 100px; width: 65%; padding: 0; margin: 0; overflow: hidden;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 0 5px;}
			.our-values-container img{float:left; width: 30%; margin-right: 5%;}

.cell2{float: left; width: 60%; overflow: hidden;}

/* COACH DESC */

.coaching-desc { float: left; width: 50%; }
	.coaching-desc header img { width: 100%; height: auto; }
	.coaching-desc article { height: 300px; line-height: 20px; overflow: hidden; text-align: justify;}
	.coaching-desc footer { overflow: hidden; margin: 5px 0;}
		.coaching-desc footer span{ float: right; }

/* ACTION DESC */

.action-desc { float: left; width: 45%; margin-left: 5%; }
	.action-desc article { overflow: hidden;}
		.action-desc article ul{list-style: initial; padding: 10px 0 10px 20px;  }
			.action-desc article li{ line-height: 17px;margin-bottom: 10px;list-style-type: disc; }
	.action-desc footer { overflow: hidden; margin: 5px 0;}
		.action-desc footer span{ float: right; }

/* SOCIAL DESC */
.socials-desc { float: right; width: 35%; margin-left: 5%; }
	.socials-desc article { overflow: hidden;}
		.socials-desc article ul{list-style: initial; padding: 10px 0 10px 20px;  }
			.socials-desc article li{ margin-bottom: 10px;list-style-type: disc;}
			.socials-desc article a{ height: 25px; line-height: 25px; text-decoration: none; color: #868686;}
	.socials-desc footer { overflow: hidden; margin: 5px 0;}
		.socials-desc footer span{ float: right; }



/*  PROGRAMS  */

.left-nav{float: left; width: 25%;margin: 20px 5% 20px 0;}
	.left-nav ul{background-color:white; border-radius: 4px; -ms-border-radius: 4px;-o-border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px; overflow: hidden; border-left: 2px #de9251 solid; border-right: 2px #de9251 solid; border-bottom: 2px solid #de9251;}
	.left-nav ul li{ height: 40px; line-height: 40px; border-top: 2px #de9251 solid; padding: 0 5px; text-align: center; font-size: 14px; font-family: 'Oswald', Verdana;}
	.left-nav ul li:first-child, .left-nav ul li.active{ background: #de9251; color:#ffffff; }
	.left-nav ul li:hover{background: #f2d8c5; cursor: pointer;}
	.left-nav ul li:first-child:hover{ background-color: #de9251; cursor: text;}

.actions-content-container{ float: right; width: 70%; overflow: hidden; margin: 20px 0;}
	.actions-programmes-desc { display: block; margin-bottom: 20px;}
		.actions-programmes-desc article h2{ display: table; height: 50px; line-height: 50px; margin-bottom: 20px;}
			.actions-programmes-desc article h2 span{ display: table-cell;color: #de9251; font-size: 30px; font-family: 'Oswald', Verdana;vertical-align: middle; }
		.actions-programmes-desc article img{float: left; padding: 10px 10px 10px 0;}

.actions-action-container{ overflow: hidden;}
	.actions-action{ margin-bottom: 20px; overflow: hidden; }
		.actions-action-date{ float: left; display: block; width: 25%; margin: 0 0 0 2%; overflow: hidden;}
			.actions-action-date span{ font-weight: 700; font-size: 30px; display: block; float: left; font-family: 'Oswald', Verdana; height: 40px; line-height: 40px;}
			.actions-action-date span + span{ font-weight: 700; font-size: 35px;  height: 50px; line-height: 50px;}
			.actions-action-date span + span + span { font-weight: 700; font-size: 40px; color:#de9251; height: 60px; line-height: 60px;}
		.actions-action article{ float: left; width: 70%; }

/* HELPS */
.helps{ margin: 20px 0; }
	.helps article{ overflow: hidden; }
		.helps article img{ float: left; display: block; width: 30%; margin-right: 5%;}
		.helps article p{ float: left; width: 65%; }
	.helps footer{ height: 50px; text-align: right; margin: 5px 0}
		.helps footer a{ line-height: 50px; text-decoration: none; }
		.helps footer a.Paypal-btn{  text-transform: none; background:  #de9251; }
			.helps footer a img{ display: inline; vertical-align: middle; }


/*Nicolas Riviere*/

/* all */
::-webkit-input-placeholder { color:#cacaca; font-style:italic; }
::-moz-placeholder { color:#cacaca;  font-style:italic;} /* firefox 19+ */
:-ms-input-placeholder { color:#cacaca; font-style:italic; } /* ie */
input:-moz-placeholder { color:#cacaca; font-style:italic; }

/* individual: webkit */
#field2::-webkit-input-placeholder { color:#cacaca; font-style:italic; }
#field3::-webkit-input-placeholder { color:#cacaca; font-style:italic;}
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#cacaca; }

/* individual: mozilla */
#field2::-moz-placeholder { color:#cacaca; font-style:italic; }
#field3::-moz-placeholder { color:#cacaca; font-style:italic;}
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:#cacaca; }

.btn{
	padding: 10px 15px;
	background-color: #911f77;
	color: white;
	font-family: "Oswald", Verdana, sans-serif;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: none;
	text-align: center;
	text-transform: uppercase;
}

.btn:hover{
	background-color: #a32687;
	cursor: pointer;
}

.help-us-link{
	line-height: 100px;
	display: block !important;
}

/*----- Partners -----*/

.ctnPartners{
	width: 100%;
	overflow: hidden;
}

.partners{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.partners section{
	float: left;
	width: 50%;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.partners section p{
	text-align: justify;
	line-height: 15px;
}

.partners section h4{
	font-size: 16px;
	text-align: justify;
	color: #de9251;
	margin: 8px 0;
	font-family: "Oswald", Verdana;
}

.partners section img{
	width: 100%;
	box-shadow: 0 0 5px #cdcdcd;
}

.partnersSecond section{
	float: left;
	width: 18%;
	margin: 1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 5px #cdcdcd;
	position: relative;
	padding-bottom: 10px;
	background-color: white;
}

.partnersSecond section img{
	width: 100%;
}

.partnersSecond section h5{
	background-color: rgba(222,146,81, 0.3);
	position: absolute;
	width: 90%;
	font-size: 10px;
	bottom:5%;
	line-height: 25px;
	left: 5%;
	z-index: 3000;
	font-weight: bold;
	text-align: center;
	color: #646464;
}

/*----------*/

/*----- Contact -----*/
.instruct{
	font-size: 0.813em;
	margin-bottom: 15px;
}

label{
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

input, textarea{
	padding: 12px;
	border: solid 1px #de9251;
	border-radius: 4px;
	width: 100%;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 10px 20px 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea{
	height: 300px;
	resize:vertical;
}

.inputs{
	width: 40%;
	float: left;
	overflow: hidden;
}

.map{
	width: 60%;
	height: 336px;
	float: left;
	overflow: hidden;
}

input[type=submit]
{
	float: right;
	overflow: hidden;
	width: auto;
	margin: 0;
}

.map section{
	width: 80%;
	height: 82%;
	margin: 8% 0 8% 16%;
	padding: 2%;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #de9251;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map-canvas{
	width: 100%;
	height: 100%;
}

.ctnContact{
	margin-bottom: 5px;
	overflow: hidden;
}

/*----------*/

/*----- Coachs -----*/

.descTeam p{
	line-height: 15px;
	margin-bottom: 10px;
}

.coachs .membre{
	width: 30%;
	margin: 1.5%;
	float: left;
	padding: 15px;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: solid 1px #de9251;
	background-color: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.coachs section p{
	text-align: justify;
	line-height: 15px;
}

.coachs section h4{
	font-size: 16px;
	text-align: justify;
	color: #de9251;
	margin: 8px 0;
	font-family: "Oswald", Verdana;
}

.coachs section img{
	width: 100%;
	border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/*----------*/

/*----- Coachs -----*/

.articles article{
	width: 100%;
	padding: 15px;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: solid 1px #de9251;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	margin: 20px 0;
}

.articles article .leftArticle{
	width: 25%;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}

.articles article .rightArticle{
	width: 75%;
	float: left;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.articles p{
	font-size: 0.813em;
	margin-bottom: 10px;
}

.articles h5{
	text-align: justify;
	color: #de9251;
	margin: 5px 0;
	font-family: "Oswald", Verdana;
}

.articles img{
	width: 100%;
	border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.articles .plus{
	font-size: 0.750em;
	float: right;
}

.rightA .rightArticle{
	float: right !important;
	text-align: right !important;
}

.rightA .rightArticle h5{
	text-align: right !important;
}

.rightA .rightArticle .plus{
	float: left !important;
}

.rightA .leftArticle{
	float: right !important;
}

/*----------*/










